* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FDA362;
    --secondary-color: lightslategray;
    --third-color: #FDF062;
    --fourth-color: #7173EF;
}

body {
    background-color: var(--secondary-color);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: var(--secondary-color);
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 100px auto;
    height: 90vh;
}

 #gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    padding: 2rem;
    background-color: var(--secondary-color);
} 

.space {
    background-color: var(--primary-color);
}

.space-two {
    grid-area: 1 / 1 / 2 / 2;
    background-color: var(--secondary-color);
}

.space-three {
    grid-area: 1 / 3 / 2 / 4;
    background-color: var(--secondary-color);
}

.tile {
    min-height: 6rem;
    min-width: auto;
    font-size: larger;
    border-radius: 10px;
    font-size: 5rem;
}

.top-middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#turn {
    font-size: 2rem;
}

.btns {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.btns button {
    margin: 12px 0px;
    padding: 4px 8px;
    border-radius: 10px;
}


.x-side {
    grid-area: 2 / 1 / 4 / 2;
    /* background-color: var(--primary-color); */
}

.y-side {
    grid-area: 2 / 3 / 4 / 4;
    /* background-color: var(--third-color); */
    /* display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: stretch; */
}

.x-side,
.y-side {
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: stretch;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    font-size: 2rem;
    /* background-color: var(--secondary-color); */
    /* min-width: 20vw; */
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightslategray;
    border-radius: 10px;
    margin: 24px;
    background-color: lightgrey;
}


hr {
    border: solid black 3px;
    border-radius: 10px;
    width: 80%; 
}

/* .info {
    grid-area: 3 / 2 / 4 / 3;
    background-color: aquamarine;
} */